{% extends "base.html.twig" %}

{% block body %}
    <h1>Edition du profil</h1>

{% for rubrique, messages in app.flashes %}
    <div class="alert alert-{{rubrique}}">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endfor %}
    {{ form_start(formView) }}
        {{ form_row(formView.fullName) }}
        {{ form_row(formView.password) }}
        {{ form_row(formView.new_password) }}
        <button type="submit" class="btn btn-primary p-2">Modifier</button>
    {{ form_end(formView) }}

    

{% endblock %}