{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="d-flex flex-column justify-content-center align-items-center ">
		<h2>S'inscrire</h2>
		
		{{ form_start(formView) }}

		{{ form_row(formView.fullName)}}

		{{ form_row(formView.email)}}

		{{ form_row(formView.password.first)}}

		{{ form_row(formView.password.second)}}

		<button type="submit" class="btn btn-primary p-2">S'inscrire</button>

		{{ form_end(formView) }}
	</div>
{% endblock %}
