{% extends 'base.html.twig' %}

{% block title %}Vos messages
{% endblock %}

{% block body %}
	<style>
		.message-content {
			padding: 10px;
			margin-bottom: 10px;
		}
		.message-time {
			font-size: 12px;
		}
		.message-item {
			display: flex;
			justify-content: space-between;
		}
		.message-item .message-content {
			flex-basis: 70%;
		}
		.message-item .message-time {
			flex-basis: 30%;
			text-align: right;
		}
	</style>

	{# <table class="table">
	    <thead>
	      <tr>
	        <th scope="col">Expéditeur</th>
	        <th scope="col">Destinataire</th>
	        <th scope="col">Messages reçus</th>
	      </tr>
	    </thead> #}
	<tbody class="w-100">
		{% set number = 1 %}


		{% if has_invitation() == true %}
			<h2 class="text-center m-4">Invitation</h2>

        {% for invitation in get_invitation() %}
      <div class="d-flex justify-content-between align-items-center mb-2 p-3 m-3" style="background: #FF960F">
				Invitation de {{ invitation.sender.email }} au projet {{ invitation.project.title }}
        <div>
				<a href="{{ path('invitation_accepted', { 'id': invitation.id }) }}" class="btn btn-success text-white">Accepté</a>
        <a href="{{ path('invitation_denied', { 'id': invitation.id }) }}" class="btn btn-danger text-white">Refuser</a>
        </div>
			</div>    
        {% endfor %}
			
		{% endif %}

		<h2 class="text-center m-4">Message</h2>
		<tr class="border-bottom border-5 border-black">
			<td class="w-100">
				<div class="row">
					<div class="col-12">
						{% for userId in discussionsBetweenUsers %}
							<div class="d-flex justify-content-between align-items-center mb-2 border bg-success text-white p-3 m-3">
								Discussion entre
								{{ userRepository.find(userId[0]).email }}
								et
								{{ userRepository.find(userId[1]).email }}
								<a href="{{ path('message_show', { user1: userId[0], user2: userId[1] }) }}" class="text-white">Voir les messages</a>
							</div>

						{% endfor %}
					</div>
				</div>
			</td>
		</tr>
		{% set number = number + 1 %}


</tbody>
	{% endblock %}
