{% extends 'base.html.twig' %}

{% block title %}TaskGenius
{% endblock %}

{% block body %}

	{% if app.user %}

			<div class="row text-center my-3">
				<h2>Vos 3 premiers projets</h2>
			</div>
			<div class="row my-3">
				{% for project in projects %}
					<div class="col-md-4">
						<div class="card h-100 d-flex flex-column m-3">
							<div class="card-body">
								<h5 class="card-title">{{ project.title }}</h5>
								<p class="card-text">{{ project.description }}</p>
							</div>
							<div class="mt-auto card-footer">
								<small class="text-muted">Crée le
									{{ project.creationDate | date('Y-m-d H:i:s') }}</small>
							</div>
						<a href="{{ path('project_show', {project_id: project.getId}) }}" class="stretched-link text-decoration-none"></a>
						</div>
					</div>
				{% endfor %}
			</div>
			{% if otherProjectsNumber > 0 %}
				<a href="{{ path('project', {user_id: app.user.getId}) }}" class="text-decoration-none">
					{% if otherProjectsNumber == 1 %}
						Voir le projet restant
					{% else %}
						Voir les
						{{ otherProjectsNumber }}
						projets restants
					{% endif %}
				</a>
			{% endif %}


	{% endif %}
{% endblock %}
