{% extends "base.html.twig" %}

{% block title %}
    {{ project.title }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h2>{{ project.title }}</h2>
        </div>
    </div>
    {% if project.tasks|length > 0 %}
    			<div class="row my-3">
				{% for task in project.tasks|sort((a, b) => a.creationDate <=> b.creationDate) %}
					<div class="col-md-4 my-3">
						<div class="card h-100 position-relative">
                        <span class="badge bg-{{task.finished ? 'success' : 'warning'}} rounded-pill position-absolute top-0 end-0 m-2">{{task.finished ? 'Terminé' : 'En cours'}}</span>
							<div class="card-body d-flex flex-column justify-content-between m-3">
								<h5 class="card-title text-center">{{ task.title }}</h5>
                        <p class="card-text text-center">{{ task.description }}</p>
                        <p class="card-text text-center">Priorité : {{ task.priority }}</p>
                        <p class="card-text text-center">Date de création : {{ task.creationDate|date('Y-m-d') }}</p>
                        <p class="card-text text-center" onclick=confirm('Etes vous sur de supprimer cette tache ?')>Date d'échéance : {{ task.dueDate|date('Y-m-d') }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{{ path('task_edit', {project_id: project.id, task_id: task.id})}}" class="btn btn-warning my-1">Modifier</a>
                            <a href="{{ path('task_finished', {project_id: project.id, task_id: task.id}) }}" class="btn btn-{{task.finished ? 'dark' : 'success' }} my-1">{{ task.finished ? 'Annuler' : 'Terminer'}}</a>
                            <a href="{{ path('task_delete', {project_id: project.id, task_id: task.id}) }}" class="btn btn-danger my-1" onclick="return confirmAction(event, 'Êtes-vous sûr de vouloir supprimer cette tâche ?')">Supprimer</a>
                        </div>
                        
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
    {% else %}
        <p>Aucune tache n'a été créée pour ce projet</p>
    {% endif %}
    <div class="row justify-content-center align-items-center mb-3">
		<a href="{{ path('task_create', {project_id: project.id}) }}" class="btn btn-primary d-flex align-items-center justify-content-center"><ion-icon name="add-outline" class="pt-1"></ion-icon> Créer une nouvelle tache</a>
	</div>
   
{% endblock %}

